/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100;400&family=Noto+Serif&family=Orbitron&family=Poiret+One&family=Roboto&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: 'Noto Sans', sans-serif;
background-color: #eff3f7; height: 100%;}